airflow/*/*/.*
airflow/*/*/__*
airflow/*/*/*/.*
airflow/*/*/*/__*
postgres/*
airflow/logs/*
airflow/.*
airflow/*/.*
airflow/*/__*
airflow/*/input/
airflow/*/output/
airflow/*/*/output/
airflow/*/*/*/*/__*